# Clustering

The input for the data transformation necessary to perform clustering is the cleaned dataset, created from the cleaner.py file.

In [7]:
import pandas as pd
import numpy as np

df = pd.read_csv("../../data_transformation/nft_transactions_cleaned.csv", parse_dates=["full_date"])
df

C:\Users\Alex\AppData\Local\Temp\ipykernel_2728\194301458.py:4: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../../data_transformation/nft_transactions_cleaned.csv", parse_dates=["full_date"])

,full_date,transaction_id,asset_id,asset_name,collection_name,wei_price,payment_token_name,quantity,seller_address,seller_username,buyer_address,asset_category,day_name,day_of_week,month_name,month_number,year,time,hour
0,2020-11-28,75418817,17125992,. . ( + - . & - ),Unknown,100000000,BAEPAY,1,0x3d95d4a6dbae0cd0643a82b13a13b08921d6adf7,NORMANCOMICS,0x8f482e5fa7ca33d7734447cbb376df6a525fe750,Uncategorized,Saturday,5,November,11,2020,05:22:37,5
1,2021-01-24,77179836,17528062,NWSNI SIM SM s O INO,Unknown,100000000000000000,Ether,1,0x3d95d4a6dbae0cd0643a82b13a13b08921d6adf7,NORMANCOMICS,0xedba5d56d0147aee8a227d284bcaac03b4a87ed4,Uncategorized,Sunday,6,January,1,2021,06:55:16,6
2,2021-08-12,490127224,36309701,DEAD -01,! DEAD !,5000000000000000,Ether,1,0xd42b0f0b9c93f826281c45b3dab34e1827312274,DEADCLUB,0x64cd629e020dc1131bd18b7a80c0656341d89038,Uncategorized,Thursday,3,August,8,2021,08:20:14,8
3,2021-08-12,495251447,36330253,DEAD -07,! DEAD !,5000000000000000,Ether,2,0xd42b0f0b9c93f826281c45b3dab34e1827312274,DEADCLUB,0x5eb3f21ef75dbfd5f8e2b2fcfad88c9497c94720,Uncategorized,Thursday,3,August,8,2021,19:47:55,19
4,2021-08-14,507555211,36781130,DEAD -13,! DEAD !,5000000000000000,Ether,1,0xd42b0f0b9c93f826281c45b3dab34e1827312274,DEADCLUB,0xae06997625b4afbf88d537d1d416c8e1de27aac3,Uncategorized,Saturday,5,August,8,2021,03:56:11,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5203286,2021-11-29,2232084052,115052697,"#86 - ""Fret For Your Prozac""",~MyriadMeaning~,0,Ether,1,0x14b78b9fe0af98145e57f2a1b8a66044ab6a9eff,PiratesBootyGallery,0xaeb2707eda1e201cb13aa80b915bc3979d7e33a0,Uncategorized,Monday,0,November,11,2021,07:27:49,7
5203287,2021-12-03,2301205938,102476305,#67 - MOLD,~MyriadMeaning~,8000000000000000,Ether,1,0x609b9fc66519fb5fa855b8427fb482bca63cd423,KillMePlease,0x42b018ffce9498915e530ca0f871d6f7144b9acc,Uncategorized,Friday,4,December,12,2021,07:06:44,7
5203288,2021-03-06,82596530,18310514,A Gentle Breeze,~~ A e s t h e t i c ~~,20000000000000000,Wrapped Ether,1,0x974a344968786201a5f2e282014098f1333aa73b,VisualSensation,0xe7e30b515304b0d4e2cf919c449f1d2ec77b1319,Uncategorized,Saturday,5,March,3,2021,06:09:07,6
5203289,2021-03-29,94187279,19807908,Gas Fees,~~ A e s t h e t i c ~~,10000000000000000,Ether,1,0x974a344968786201a5f2e282014098f1333aa73b,VisualSensation,0x263108604e0c9e1f6cdcf698e160cd563635a328,Uncategorized,Monday,0,March,3,2021,11:33:23,11
5203290,2021-10-22,1496067215,44025727,beyond death do us part,~~dreamscapes~~,250000000000000000,Ether,1,0xe1937e7b7d7e1ca362d54a4a52234a01cdcc8ff5,artbibop_,0xd6f812e5f0ae8f5298d9793d6d8f48d7c66b04b8,Uncategorized,Friday,4,October,10,2021,19:55:25,19

In [8]:
df.isna().sum()

full_date             0
transaction_id        0
asset_id              0
asset_name            0
collection_name       0
wei_price             0
payment_token_name    0
quantity              0
seller_address        0
seller_username       0
buyer_address         0
asset_category        0
day_name              0
day_of_week           0
month_name            0
month_number          0
year                  0
time                  0
hour                  0
dtype: int64

Let's fix the data types as needed

In [9]:
df.dtypes

full_date             datetime64[ns]
transaction_id                 int64
asset_id                       int64
asset_name                    object
collection_name               object
wei_price                     object
payment_token_name            object
quantity                       int64
seller_address                object
seller_username               object
buyer_address                 object
asset_category                object
day_name                      object
day_of_week                    int64
month_name                    object
month_number                   int64
year                           int64
time                          object
hour                           int64
dtype: object

In [10]:
df['wei_price'] = df['wei_price'].astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5203291 entries, 0 to 5203290
Data columns (total 19 columns):
 #   Column              Dtype
---  ------              -----
 0   full_date           datetime64[ns]
 1   transaction_id      int64
 2   asset_id            int64
 3   asset_name          object
 4   collection_name     object
 5   wei_price           float64
 6   payment_token_name  object
 7   quantity            int64
 8   seller_address      object
 9   seller_username     object
 10  buyer_address       object
 11  asset_category      object
 12  day_name            object
 13  day_of_week         int64
 14  month_name          object
 15  month_number        int64
 16  year                int64
 17  time                object
 18  hour                int64
dtypes: datetime64[ns](1), float64(1), int64(7), object(10)
memory usage: 754.3+ MB

Let's see how many total users (sellers & buyers) exist

In [11]:
total = pd.concat([df['seller_address'], df['buyer_address']])
len(total.unique())

704111

Let's check their breakdown between sellers and buyers

In [12]:
print(f"Sellers: {len(df['seller_address'].unique())} ")
print(f"Buyers: {len(df['buyer_address'].unique())} ")

Sellers: 311919
Buyers: 614135

Let's check if all the sellers are also included inside the buyers.

In [13]:
df['seller_address'].isin(df['buyer_address']).sum()

4629785

In [14]:
(~df['seller_address'].isin(df['buyer_address'])).sum()

573506

It appears that the majority of addresses found in seller id are also included in the buyer ids. However, to make sure no address is lost, when merging sellers and buyers data a full outer join must be conducted.

Let's calculate the necessary metrics for each user and start formulating our clustering input

At first we'll calculate the total number of sales, money earned and quantity sold for each seller.

In [15]:
# Aggregating seller metrics
seller_metrics = df.groupby('seller_address').agg(
    total_sales=('seller_address', 'count'),
    total_money_earned=('wei_price', 'sum'),
    total_quantity_sold=('quantity', 'sum')
).rename_axis('user_address').reset_index()

seller_metrics

,user_address,total_sales,total_money_earned,total_quantity_sold
0,0x0000000000000000000000000000000000000000,66,1.501408e+19,91
1,0x0000000000000d9054f605ca65a2647c2b521422,1,1.000000e+17,1
2,0x0000000000015b23c7e20b0ea5ebd84c39dcbe60,1,5.500000e+18,2
3,0x00000000000360176d958e11c140308cd0863679,58,2.435180e+19,137090
4,0x000000000004d7463d0f9c77383600bc82d612f5,6,1.274900e+19,473
...,...,...,...,...
311914,0xffffa8f60d2ec6a559ef3617576ed28bc397d360,2,5.200000e+17,4
311915,0xffffc32855b2620c86f413065af8c58ec68d474d,9,3.085500e+19,625
311916,0xffffe6c261fac5ea28c41e71672b482efbad8e4b,1,1.000000e+17,1
311917,0xffffe96d5df4b535022bcf9a901716ba3ebd8a82,5,1.113500e+18,7
311918,0xfffff6e70842330948ca47254f2be673b1cb0db7,28,3.706900e+19,44

Moving on, we'll do the same for each buyer

In [16]:
# Aggregating buyer metrics
buyer_metrics = df.groupby('buyer_address').agg(
    total_purchases=('buyer_address', 'count'),
    total_money_spent=('wei_price', 'sum'),
    total_quantity_bought=('quantity', 'sum')
).rename_axis('user_address').reset_index()

buyer_metrics

,user_address,total_purchases,total_money_spent,total_quantity_bought
0,0x00000000000040c8d72ad3a15ce5408f99cd61b4,1,1.000000e+18,1
1,0x0000000000004c0fd5233e6c14d0e10cf190de82,1,0.000000e+00,1
2,0x0000000000015b23c7e20b0ea5ebd84c39dcbe60,14,4.920000e+17,15
3,0x00000000000360176d958e11c140308cd0863679,32,5.184567e+18,45
4,0x000000000004d7463d0f9c77383600bc82d612f5,10,1.980600e+19,479
...,...,...,...,...
614130,0xffffe0f5e89ccedadb322fe4ca6bd3ea5badaff2,10,2.241100e+18,17
614131,0xffffe59e4ebefce216470864fd92407023288cb4,2,2.303000e+17,3
614132,0xfffff6e70842330948ca47254f2be673b1cb0db7,7,1.833800e+19,13
614133,0xfffffc03e9d2c7f163135d2b0f18fc7f27c43cce,6,3.537000e+17,986
614134,0xffffffff0861cde61840e5ddf74bed62e5dfe1b6,1,8.000000e+18,1

Now we are going to create variables to keep track of each sellers sales per category.

In [17]:
# Aggregating sales by category
sales_by_category = df.groupby(['seller_address', 'asset_category']).size().unstack(fill_value=0)
sales_by_category = sales_by_category.rename_axis('user_address').reset_index()
# Remove index name
sales_by_category = sales_by_category.rename_axis(None, axis=1)
sales_by_category

,user_address,Art,Collectibles,Domain,Music,Photography,Sports,Trading Cards,Uncategorized,Utility,Virtual Worlds
0,0x0000000000000000000000000000000000000000,0,16,0,0,0,0,0,20,0,30
1,0x0000000000000d9054f605ca65a2647c2b521422,0,0,0,0,0,0,0,1,0,0
2,0x0000000000015b23c7e20b0ea5ebd84c39dcbe60,1,0,0,0,0,0,0,0,0,0
3,0x00000000000360176d958e11c140308cd0863679,47,2,0,0,0,0,0,1,8,0
4,0x000000000004d7463d0f9c77383600bc82d612f5,1,5,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
311914,0xffffa8f60d2ec6a559ef3617576ed28bc397d360,1,1,0,0,0,0,0,0,0,0
311915,0xffffc32855b2620c86f413065af8c58ec68d474d,4,2,0,0,0,0,0,0,0,3
311916,0xffffe6c261fac5ea28c41e71672b482efbad8e4b,0,1,0,0,0,0,0,0,0,0
311917,0xffffe96d5df4b535022bcf9a901716ba3ebd8a82,0,5,0,0,0,0,0,0,0,0
311918,0xfffff6e70842330948ca47254f2be673b1cb0db7,20,3,0,0,0,0,0,5,0,0

Now we'll do the same for the purchases of each buyer

In [18]:
# Aggregating purchases by category
purchases_by_category = df.groupby(['buyer_address', 'asset_category']).size().unstack(fill_value=0)
purchases_by_category = purchases_by_category.rename_axis('user_address').reset_index()
# Remove index name
purchases_by_category = purchases_by_category.rename_axis(None, axis=1)
purchases_by_category

,user_address,Art,Collectibles,Domain,Music,Photography,Sports,Trading Cards,Uncategorized,Utility,Virtual Worlds
0,0x00000000000040c8d72ad3a15ce5408f99cd61b4,0,0,1,0,0,0,0,0,0,0
1,0x0000000000004c0fd5233e6c14d0e10cf190de82,0,0,0,0,0,0,0,1,0,0
2,0x0000000000015b23c7e20b0ea5ebd84c39dcbe60,0,9,0,0,0,0,0,5,0,0
3,0x00000000000360176d958e11c140308cd0863679,9,3,0,0,0,0,8,0,12,0
4,0x000000000004d7463d0f9c77383600bc82d612f5,3,7,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
614130,0xffffe0f5e89ccedadb322fe4ca6bd3ea5badaff2,3,7,0,0,0,0,0,0,0,0
614131,0xffffe59e4ebefce216470864fd92407023288cb4,0,2,0,0,0,0,0,0,0,0
614132,0xfffff6e70842330948ca47254f2be673b1cb0db7,4,0,0,0,0,0,0,3,0,0
614133,0xfffffc03e9d2c7f163135d2b0f18fc7f27c43cce,0,5,0,0,0,0,0,1,0,0
614134,0xffffffff0861cde61840e5ddf74bed62e5dfe1b6,0,0,0,0,0,0,1,0,0,0

Now it's time to merge the metrics we've calculated, we fill the NAs that come up, setting them equal to 0. Also, column names are renamed where needed to better differentiate between sales and purchases.

In [19]:
# Merging all metrics
user_metrics = pd.merge(seller_metrics, buyer_metrics, on='user_address', how='outer').fillna(0)
user_metrics = pd.merge(user_metrics, sales_by_category, on='user_address', how='left').fillna(0)

# Rename sales category columns
sales_category_columns = sales_by_category.columns.difference(['user_address'])
user_metrics = user_metrics.rename(columns={col: f"sales_{col}" for col in sales_category_columns})

user_metrics = pd.merge(user_metrics, purchases_by_category, on='user_address', how='left').fillna(0)
# Rename purchases category columns
purchases_category_columns = purchases_by_category.columns.difference(['user_address'])
user_metrics = user_metrics.rename(columns={col: f"purchases_{col}" for col in purchases_category_columns})

user_metrics

,user_address,total_sales,total_money_earned,total_quantity_sold,total_purchases,total_money_spent,total_quantity_bought,sales_Art,sales_Collectibles,sales_Domain,...,purchases_Art,purchases_Collectibles,purchases_Domain,purchases_Music,purchases_Photography,purchases_Sports,purchases_Trading Cards,purchases_Uncategorized,purchases_Utility,purchases_Virtual Worlds
0,0x0000000000000000000000000000000000000000,66.0,1.501408e+19,91.0,0.0,0.000000e+00,0.0,0.0,16.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0x0000000000000d9054f605ca65a2647c2b521422,1.0,1.000000e+17,1.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0x00000000000040c8d72ad3a15ce5408f99cd61b4,0.0,0.000000e+00,0.0,1.0,1.000000e+18,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0x0000000000004c0fd5233e6c14d0e10cf190de82,0.0,0.000000e+00,0.0,1.0,0.000000e+00,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0x0000000000015b23c7e20b0ea5ebd84c39dcbe60,1.0,5.500000e+18,2.0,14.0,4.920000e+17,15.0,1.0,0.0,0.0,...,0.0,9.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
704106,0xffffe6c261fac5ea28c41e71672b482efbad8e4b,1.0,1.000000e+17,1.0,0.0,0.000000e+00,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
704107,0xffffe96d5df4b535022bcf9a901716ba3ebd8a82,5.0,1.113500e+18,7.0,0.0,0.000000e+00,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
704108,0xfffff6e70842330948ca47254f2be673b1cb0db7,28.0,3.706900e+19,44.0,7.0,1.833800e+19,13.0,20.0,3.0,0.0,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0
704109,0xfffffc03e9d2c7f163135d2b0f18fc7f27c43cce,0.0,0.000000e+00,0.0,6.0,3.537000e+17,986.0,0.0,0.0,0.0,...,0.0,5.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
704110,0xffffffff0861cde61840e5ddf74bed62e5dfe1b6,0.0,0.000000e+00,0.0,1.0,8.000000e+18,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

Everything seems to be fine and there appear to be no missing values

In [20]:
user_metrics.isna().sum()

user_address                0
total_sales                 0
total_money_earned          0
total_quantity_sold         0
total_purchases             0
total_money_spent           0
total_quantity_bought       0
sales_Art                   0
sales_Collectibles          0
sales_Domain                0
sales_Music                 0
sales_Photography           0
sales_Sports                0
sales_Trading Cards         0
sales_Uncategorized         0
sales_Utility               0
sales_Virtual Worlds        0
purchases_Art               0
purchases_Collectibles      0
purchases_Domain            0
purchases_Music             0
purchases_Photography       0
purchases_Sports            0
purchases_Trading Cards     0
purchases_Uncategorized     0
purchases_Utility           0
purchases_Virtual Worlds    0
dtype: int64

Now to complete our clustering input, let's calculate the average holding period of an asset for each user. The holding period of an asset can be defined as the number of days that elapsed between the user's buying and selling of said asset. For assets that have no sales data attached to them, the final day of our dataset will be used to calculate this metric. For assets that have no purchase data attached to them, the first day of our dataset will be used.

In [21]:
# Step 1: Determine dataset date range
min_date = df['full_date'].min()
max_date = df['full_date'].max()

# Step 2: Purchases (buyers acquiring assets)
purchases = df[['buyer_address', 'asset_id', 'full_date']].rename(columns={'buyer_address': 'user_address', 'full_date': 'purchase_date'})
purchases

                                       user_address   asset_id purchase_date
0        0x8f482e5fa7ca33d7734447cbb376df6a525fe750   17125992    2020-11-28
1        0xedba5d56d0147aee8a227d284bcaac03b4a87ed4   17528062    2021-01-24
2        0x64cd629e020dc1131bd18b7a80c0656341d89038   36309701    2021-08-12
3        0x5eb3f21ef75dbfd5f8e2b2fcfad88c9497c94720   36330253    2021-08-12
4        0xae06997625b4afbf88d537d1d416c8e1de27aac3   36781130    2021-08-14
...                                             ...        ...           ...
5203286  0xaeb2707eda1e201cb13aa80b915bc3979d7e33a0  115052697    2021-11-29
5203287  0x42b018ffce9498915e530ca0f871d6f7144b9acc  102476305    2021-12-03
5203288  0xe7e30b515304b0d4e2cf919c449f1d2ec77b1319   18310514    2021-03-06
5203289  0x263108604e0c9e1f6cdcf698e160cd563635a328   19807908    2021-03-29
5203290  0xd6f812e5f0ae8f5298d9793d6d8f48d7c66b04b8   44025727    2021-10-22

[5203291 rows x 3 columns]

In [22]:
# Step 3: Sales (sellers selling assets)
sales = df[['seller_address', 'asset_id', 'full_date']].rename(columns={'seller_address': 'user_address', 'full_date': 'sale_date'})
sales

                                       user_address   asset_id  sale_date
0        0x3d95d4a6dbae0cd0643a82b13a13b08921d6adf7   17125992 2020-11-28
1        0x3d95d4a6dbae0cd0643a82b13a13b08921d6adf7   17528062 2021-01-24
2        0xd42b0f0b9c93f826281c45b3dab34e1827312274   36309701 2021-08-12
3        0xd42b0f0b9c93f826281c45b3dab34e1827312274   36330253 2021-08-12
4        0xd42b0f0b9c93f826281c45b3dab34e1827312274   36781130 2021-08-14
...                                             ...        ...        ...
5203286  0x14b78b9fe0af98145e57f2a1b8a66044ab6a9eff  115052697 2021-11-29
5203287  0x609b9fc66519fb5fa855b8427fb482bca63cd423  102476305 2021-12-03
5203288  0x974a344968786201a5f2e282014098f1333aa73b   18310514 2021-03-06
5203289  0x974a344968786201a5f2e282014098f1333aa73b   19807908 2021-03-29
5203290  0xe1937e7b7d7e1ca362d54a4a52234a01cdcc8ff5   44025727 2021-10-22

[5203291 rows x 3 columns]

In [23]:
# Step 4: Identify sellers without purchases
sellers_without_purchases = sales[~sales['user_address'].isin(purchases['user_address'])]
sellers_without_purchases['purchase_date'] = min_date  # Assume they acquired assets before dataset start

# Combine these sellers into the purchases dataframe
purchases = pd.concat([purchases, sellers_without_purchases[['user_address', 'asset_id', 'purchase_date']]])
purchases

C:\Users\Alex\AppData\Local\Temp\ipykernel_2728\1659286966.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sellers_without_purchases['purchase_date'] = min_date  # Assume they acquired assets before dataset start

                                       user_address   asset_id purchase_date
0        0x8f482e5fa7ca33d7734447cbb376df6a525fe750   17125992    2020-11-28
1        0xedba5d56d0147aee8a227d284bcaac03b4a87ed4   17528062    2021-01-24
2        0x64cd629e020dc1131bd18b7a80c0656341d89038   36309701    2021-08-12
3        0x5eb3f21ef75dbfd5f8e2b2fcfad88c9497c94720   36330253    2021-08-12
4        0xae06997625b4afbf88d537d1d416c8e1de27aac3   36781130    2021-08-14
...                                             ...        ...           ...
5203284  0x609b9fc66519fb5fa855b8427fb482bca63cd423   81495601    2019-01-01
5203287  0x609b9fc66519fb5fa855b8427fb482bca63cd423  102476305    2019-01-01
5203288  0x974a344968786201a5f2e282014098f1333aa73b   18310514    2019-01-01
5203289  0x974a344968786201a5f2e282014098f1333aa73b   19807908    2019-01-01
5203290  0xe1937e7b7d7e1ca362d54a4a52234a01cdcc8ff5   44025727    2019-01-01

[5776797 rows x 3 columns]

All the addresses already exist on the purchases table so we can simply left join

In [24]:
# Step 5: Merge purchases and sales
holdings = pd.merge(purchases, sales, on=['user_address', 'asset_id'], how='left')
holdings

,user_address,asset_id,purchase_date,sale_date
0,0x8f482e5fa7ca33d7734447cbb376df6a525fe750,17125992,2020-11-28,NaT
1,0xedba5d56d0147aee8a227d284bcaac03b4a87ed4,17528062,2021-01-24,NaT
2,0x64cd629e020dc1131bd18b7a80c0656341d89038,36309701,2021-08-12,NaT
3,0x5eb3f21ef75dbfd5f8e2b2fcfad88c9497c94720,36330253,2021-08-12,2021-08-22
4,0xae06997625b4afbf88d537d1d416c8e1de27aac3,36781130,2021-08-14,NaT
...,...,...,...,...
80407212,0x609b9fc66519fb5fa855b8427fb482bca63cd423,81495601,2019-01-01,2021-10-26
80407213,0x609b9fc66519fb5fa855b8427fb482bca63cd423,102476305,2019-01-01,2021-12-03
80407214,0x974a344968786201a5f2e282014098f1333aa73b,18310514,2019-01-01,2021-03-06
80407215,0x974a344968786201a5f2e282014098f1333aa73b,19807908,2019-01-01,2021-03-29
80407216,0xe1937e7b7d7e1ca362d54a4a52234a01cdcc8ff5,44025727,2019-01-01,2021-10-22

In [25]:
# Step 6: Assign holding periods
holdings['sale_date'] = holdings['sale_date'].fillna(max_date)  # Use max_date if no sale date exists
holdings['holding_period'] = (holdings['sale_date'] - holdings['purchase_date']).dt.days
holdings

,user_address,asset_id,purchase_date,sale_date,holding_period
0,0x8f482e5fa7ca33d7734447cbb376df6a525fe750,17125992,2020-11-28,2022-01-01,399
1,0xedba5d56d0147aee8a227d284bcaac03b4a87ed4,17528062,2021-01-24,2022-01-01,342
2,0x64cd629e020dc1131bd18b7a80c0656341d89038,36309701,2021-08-12,2022-01-01,142
3,0x5eb3f21ef75dbfd5f8e2b2fcfad88c9497c94720,36330253,2021-08-12,2021-08-22,10
4,0xae06997625b4afbf88d537d1d416c8e1de27aac3,36781130,2021-08-14,2022-01-01,140
...,...,...,...,...,...
80407212,0x609b9fc66519fb5fa855b8427fb482bca63cd423,81495601,2019-01-01,2021-10-26,1029
80407213,0x609b9fc66519fb5fa855b8427fb482bca63cd423,102476305,2019-01-01,2021-12-03,1067
80407214,0x974a344968786201a5f2e282014098f1333aa73b,18310514,2019-01-01,2021-03-06,795
80407215,0x974a344968786201a5f2e282014098f1333aa73b,19807908,2019-01-01,2021-03-29,818
80407216,0xe1937e7b7d7e1ca362d54a4a52234a01cdcc8ff5,44025727,2019-01-01,2021-10-22,1025

In [28]:
# Step 7: Calculate average holding period for each user
average_holding_period = holdings.groupby('user_address').agg(
    avg_holding_period=('holding_period', 'mean')
).reset_index()
average_holding_period

                                      user_address  avg_holding_period
0       0x0000000000000000000000000000000000000000          393.181818
1       0x0000000000000d9054f605ca65a2647c2b521422          783.000000
2       0x00000000000040c8d72ad3a15ce5408f99cd61b4           79.000000
3       0x0000000000004c0fd5233e6c14d0e10cf190de82          217.000000
4       0x0000000000015b23c7e20b0ea5ebd84c39dcbe60          132.571429
...                                            ...                 ...
704106  0xffffe6c261fac5ea28c41e71672b482efbad8e4b         1029.000000
704107  0xffffe96d5df4b535022bcf9a901716ba3ebd8a82         1071.000000
704108  0xfffff6e70842330948ca47254f2be673b1cb0db7          134.142857
704109  0xfffffc03e9d2c7f163135d2b0f18fc7f27c43cce          113.166667
704110  0xffffffff0861cde61840e5ddf74bed62e5dfe1b6          225.000000

[704111 rows x 2 columns]

In [31]:
# Step 8: Merge average holding period into the main user_metrics dataframe
user_metrics = pd.merge(user_metrics, average_holding_period, on='user_address', how='left').fillna(0)
user_metrics

,user_address,total_sales,total_money_earned,total_quantity_sold,total_purchases,total_money_spent,total_quantity_bought,sales_Art,sales_Collectibles,sales_Domain,...,purchases_Collectibles,purchases_Domain,purchases_Music,purchases_Photography,purchases_Sports,purchases_Trading Cards,purchases_Uncategorized,purchases_Utility,purchases_Virtual Worlds,avg_holding_period
0,0x0000000000000000000000000000000000000000,66.0,1.501408e+19,91.0,0.0,0.000000e+00,0.0,0.0,16.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,393.181818
1,0x0000000000000d9054f605ca65a2647c2b521422,1.0,1.000000e+17,1.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,783.000000
2,0x00000000000040c8d72ad3a15ce5408f99cd61b4,0.0,0.000000e+00,0.0,1.0,1.000000e+18,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,79.000000
3,0x0000000000004c0fd5233e6c14d0e10cf190de82,0.0,0.000000e+00,0.0,1.0,0.000000e+00,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,217.000000
4,0x0000000000015b23c7e20b0ea5ebd84c39dcbe60,1.0,5.500000e+18,2.0,14.0,4.920000e+17,15.0,1.0,0.0,0.0,...,9.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,132.571429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
704106,0xffffe6c261fac5ea28c41e71672b482efbad8e4b,1.0,1.000000e+17,1.0,0.0,0.000000e+00,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1029.000000
704107,0xffffe96d5df4b535022bcf9a901716ba3ebd8a82,5.0,1.113500e+18,7.0,0.0,0.000000e+00,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1071.000000
704108,0xfffff6e70842330948ca47254f2be673b1cb0db7,28.0,3.706900e+19,44.0,7.0,1.833800e+19,13.0,20.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,134.142857
704109,0xfffffc03e9d2c7f163135d2b0f18fc7f27c43cce,0.0,0.000000e+00,0.0,6.0,3.537000e+17,986.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,113.166667
704110,0xffffffff0861cde61840e5ddf74bed62e5dfe1b6,0.0,0.000000e+00,0.0,1.0,8.000000e+18,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,225.000000

In [32]:
user_metrics.isna().sum()

user_address                0
total_sales                 0
total_money_earned          0
total_quantity_sold         0
total_purchases             0
total_money_spent           0
total_quantity_bought       0
sales_Art                   0
sales_Collectibles          0
sales_Domain                0
sales_Music                 0
sales_Photography           0
sales_Sports                0
sales_Trading Cards         0
sales_Uncategorized         0
sales_Utility               0
sales_Virtual Worlds        0
purchases_Art               0
purchases_Collectibles      0
purchases_Domain            0
purchases_Music             0
purchases_Photography       0
purchases_Sports            0
purchases_Trading Cards     0
purchases_Uncategorized     0
purchases_Utility           0
purchases_Virtual Worlds    0
avg_holding_period          0
dtype: int64

There's an obvious problem because of multiple duplicate combinations of addresses and asset ids. That means that most probably average holding period is useless and should not be used for clustering users.

In [33]:
user_metrics.to_csv("clustering_input.csv", index= False)